Repository musashimiyomoto/graph-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, tsc

ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

eslint:
  name: eslint
  entry: npx eslint
  require_serial: true
  language: node
  additional_dependencies: []

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc -b'
  require_serial: true
  language: system
  pass_filenames: false

build: improve tests
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_execution_dispatch.py
  backend/tests/test_worker.py
Due: ruff-check, ruff-format

fix: fix network validation
  backend/tests/test_network.py
  backend/utils/network.py
Due: ruff-check, ruff-format

test: add cov
  Makefile
  backend/pyproject.toml
  backend/uv.lock
Due: none

test: update gen pswrd
  backend/pyproject.toml
  backend/tests/conftest.py
Due: ruff-check, ruff-format

feat: add arq ui
  .env.example
  README.md
  docker-compose.yml
Due: none

feat: finalization subflow
  ROADMAP.md
  backend/tests/test_api/test_execution.py
  backend/usecases/execution.py
  frontend/src/App.tsx
  frontend/src/components/CreateNodeDialog.tsx
  frontend/src/components/InspectorPanel.tsx
  frontend/src/components/LoopBodyModal.tsx
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/hooks/useWorkflowOptions.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add cancel flow
  ROADMAP.md
  backend/api/routers/execution.py
  backend/db/migrations/versions/f6b8c1d4e7a9_add_cancelled_execution_status.py
  backend/enums/execution.py
  backend/exceptions/__init__.py
  backend/exceptions/execution.py
  backend/tests/test_api/test_execution.py
  backend/usecases/execution.py
  backend/worker.py
  frontend/src/App.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/hooks/useExecutions.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/executionFormat.ts
  frontend/src/lib/types.ts
  frontend/src/widget/WidgetApp.tsx
Due: ruff-check, ruff-format, eslint, tsc

feat: add approve node
  ROADMAP.md
  backend/api/routers/execution.py
  backend/db/migrations/versions/a7c9e2f4b6d8_add_approval_node.py
  backend/db/models/execution.py
  backend/db/repositories/execution.py
  backend/enums/execution.py
  backend/enums/node.py
  backend/exceptions/__init__.py
  backend/exceptions/execution.py
  backend/nodes/__init__.py
  backend/nodes/approval.py
  backend/nodes/registry.py
  backend/schemas/execution.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_node.py
  backend/usecases/execution.py
  backend/usecases/node.py
  backend/worker.py
  frontend/src/App.tsx
  frontend/src/components/ActivityLog.tsx
  frontend/src/components/ApprovalActions.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/NodeIcons.tsx
  frontend/src/hooks/useActivityLog.ts
  frontend/src/hooks/useExecutions.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/executionFormat.ts
  frontend/src/lib/types.test.ts
  frontend/src/lib/types.ts
  frontend/src/widget/WidgetApp.test.tsx
  frontend/src/widget/WidgetApp.tsx
Due: ruff-check, ruff-format, eslint, tsc

feat: add switch node
  ROADMAP.md
  backend/db/migrations/versions/b8d1f3a5c7e9_add_switch_node.py
  backend/enums/node.py
  backend/nodes/__init__.py
  backend/nodes/registry.py
  backend/nodes/switch.py
  backend/schemas/node.py
  backend/tests/test_api/test_edge.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_node.py
  backend/tests/test_nodes_registry.py
  backend/usecases/edge.py
  backend/usecases/execution.py
  backend/usecases/node.py
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/components/NodeIcons.tsx
  frontend/src/components/NodePalette.tsx
  frontend/src/components/SwitchBranchesField.tsx
  frontend/src/hooks/useGraphState.ts
  frontend/src/lib/switchBranches.test.ts
  frontend/src/lib/switchBranches.ts
  frontend/src/lib/types.ts
  frontend/src/lib/validation.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add catalog mcp
  ROADMAP.md
  backend/api/routers/mcp_server.py
  backend/integrations/mcp_registry.py
  backend/schemas/__init__.py
  backend/schemas/mcp_server.py
  backend/tests/test_api/test_mcp_server.py
  backend/tests/test_mcp_registry.py
  backend/usecases/mcp_server.py
  frontend/src/components/MCPServerSettings.tsx
  frontend/src/hooks/useMCPRegistry.ts
  frontend/src/lib/api.ts
  frontend/src/lib/mcpRegistry.test.ts
  frontend/src/lib/mcpRegistry.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add session management
  ROADMAP.md
  backend/api/routers/auth.py
  backend/db/migrations/versions/d1f3a5c7e9b2_add_auth_sessions.py
  backend/db/models/__init__.py
  backend/db/models/auth_session.py
  backend/db/repositories/__init__.py
  backend/db/repositories/auth_session.py
  backend/exceptions/__init__.py
  backend/exceptions/auth.py
  backend/schemas/__init__.py
  backend/schemas/auth.py
  backend/settings/auth.py
  backend/tests/test_api/test_auth.py
  backend/usecases/auth.py
  frontend/src/components/AuthSessionSettings.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/hooks/useAuthSession.ts
  frontend/src/hooks/useAuthSessions.ts
  frontend/src/lib/api.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

fix: fix migrations
  backend/db/migrations/versions/e2a4c6f8b1d3_sync_recent_model_metadata.py
Due: ruff-check, ruff-format

feat: add email verification and password recovery
  .env.example
  README.md
  ROADMAP.md
  backend/api/dependencies/rate_limit.py
  backend/api/routers/auth.py
  backend/db/migrations/versions/e5b7c9d1f3a6_add_email_verification_and_password_.py
  backend/db/models/__init__.py
  backend/db/models/auth_action_token.py
  backend/db/models/user.py
  backend/db/repositories/__init__.py
  backend/db/repositories/auth_action_token.py
  backend/db/repositories/auth_session.py
  backend/db/repositories/user.py
  backend/enums/__init__.py
  backend/enums/auth.py
  backend/exceptions/__init__.py
  backend/exceptions/auth.py
  backend/integrations/auth_email.py
  backend/schemas/__init__.py
  backend/schemas/auth.py
  backend/schemas/user.py
  backend/settings/__init__.py
  backend/settings/auth_email.py
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  backend/tests/factories/auth_action_token.py
  backend/tests/factories/llm_provider.py
  backend/tests/factories/user.py
  backend/tests/test_api/test_auth.py
  backend/tests/test_api/test_llm_provider.py
  backend/usecases/auth.py
  frontend/src/App.tsx
  frontend/src/components/AccountSecuritySettings.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/AuthScreen.test.tsx
  frontend/src/components/AuthScreen.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/hooks/useAuthSession.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add translate node
  README.md
  ROADMAP.md
  backend/db/migrations/versions/f7c9e1a3b5d8_add_translate_node.py
  backend/enums/node.py
  backend/exceptions/__init__.py
  backend/exceptions/node.py
  backend/nodes/__init__.py
  backend/nodes/registry.py
  backend/nodes/translate.py
  backend/tests/test_api/test_node.py
  backend/tests/test_translate_node.py
  frontend/src/components/NodeIcons.tsx
  frontend/src/components/NodePalette.tsx
Due: ruff-check, ruff-format, eslint, tsc

feat: add Delay / Wait node
  README.md
  ROADMAP.md
  backend/constants/__init__.py
  backend/constants/execution.py
  backend/db/migrations/versions/a1d3f5b7c9e2_add_delay_wait_node.py
  backend/db/models/execution.py
  backend/db/models/node_execution.py
  backend/enums/__init__.py
  backend/enums/execution.py
  backend/enums/node.py
  backend/enums/validator.py
  backend/nodes/__init__.py
  backend/nodes/delay.py
  backend/nodes/registry.py
  backend/schemas/execution.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_node.py
  backend/tests/test_delay_node.py
  backend/tests/test_worker.py
  backend/usecases/execution.py
  backend/usecases/node.py
  backend/worker.py
  frontend/src/components/ActivityLog.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/NodeIcons.tsx
  frontend/src/components/NodePalette.tsx
  frontend/src/lib/executionFormat.ts
  frontend/src/lib/types.test.ts
  frontend/src/lib/types.ts
  frontend/src/lib/validation.test.ts
  frontend/src/lib/validation.ts
  frontend/src/widget/WidgetApp.test.tsx
Due: ruff-check, ruff-format, eslint, tsc

refactor: add NodeValue
  ROADMAP.md
  backend/enums/node.py
  backend/nodes/__init__.py
  backend/nodes/base.py
  backend/nodes/code_transform.py
  backend/nodes/condition.py
  backend/nodes/http_request.py
  backend/nodes/llm.py
  backend/nodes/loop_output.py
  backend/nodes/mcp_tool.py
  backend/nodes/output.py
  backend/nodes/rendering.py
  backend/nodes/switch.py
  backend/nodes/table.py
  backend/nodes/template.py
  backend/nodes/translate.py
  backend/nodes/value.py
  backend/nodes/vector_ingest.py
  backend/nodes/vector_search.py
  backend/nodes/web_search.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_mcp_tool_node.py
  backend/tests/test_node_value.py
  backend/tests/test_nodes_registry.py
  backend/tests/test_streaming.py
  backend/tests/test_table_node.py
  backend/tests/test_translate_node.py
  backend/usecases/execution.py
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add new ports
  ROADMAP.md
  backend/db/migrations/versions/c3f5a7b9d2e4_add_explicit_edge_coercions.py
  backend/db/models/edge.py
  backend/enums/__init__.py
  backend/enums/node.py
  backend/nodes/__init__.py
  backend/nodes/code_transform.py
  backend/nodes/definition.py
  backend/nodes/registry.py
  backend/schemas/__init__.py
  backend/schemas/edge.py
  backend/schemas/execution.py
  backend/schemas/node.py
  backend/schemas/workflow.py
  backend/tests/factories/edge.py
  backend/tests/test_api/test_edge.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_node.py
  backend/tests/test_nodes_registry.py
  backend/usecases/edge.py
  backend/usecases/execution.py
  backend/usecases/node.py
  backend/usecases/workflow_transfer.py
  frontend/src/App.tsx
  frontend/src/components/CustomNodes.tsx
  frontend/src/components/GraphCanvas.tsx
  frontend/src/components/LoopBodyModal.tsx
  frontend/src/hooks/useGraphState.ts
  frontend/src/lib/ports.test.ts
  frontend/src/lib/ports.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: universal trigger event
  README.md
  ROADMAP.md
  backend/api/dependencies/webhook.py
  backend/api/routers/webhook.py
  backend/db/migrations/versions/e5c7a9b1d3f6_add_universal_trigger_events.py
  backend/db/models/execution.py
  backend/integrations/email.py
  backend/schemas/__init__.py
  backend/schemas/execution.py
  backend/schemas/trigger_event.py
  backend/schemas/web_chat.py
  backend/tests/factories/execution.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_web_chat.py
  backend/tests/test_api/test_webhook.py
  backend/tests/test_trigger_event.py
  backend/tests/test_worker.py
  backend/usecases/__init__.py
  backend/usecases/execution.py
  backend/usecases/web_chat.py
  backend/usecases/webhook.py
  backend/worker.py
  frontend/src/components/ActivityLog.tsx
  frontend/src/components/WorkflowActionsMenu.tsx
  frontend/src/lib/types.ts
  frontend/src/widget/WidgetApp.test.tsx
  frontend/src/widget/WidgetApp.tsx
  frontend/src/widget/api.test.ts
  frontend/src/widget/api.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: plugin-driven channel registry
  README.md
  ROADMAP.md
  backend/api/dependencies/channel.py
  backend/api/routers/__init__.py
  backend/api/routers/channel.py
  backend/channels/__init__.py
  backend/channels/base.py
  backend/channels/email.py
  backend/channels/registry.py
  backend/channels/runtime.py
  backend/channels/schedule.py
  backend/channels/telegram.py
  backend/channels/web_chat.py
  backend/channels/webhook.py
  backend/main.py
  backend/nodes/input.py
  backend/nodes/output.py
  backend/schemas/__init__.py
  backend/schemas/channel.py
  backend/schemas/node.py
  backend/tests/test_api/test_channel.py
  backend/tests/test_channels_registry.py
  backend/tests/test_worker.py
  backend/usecases/__init__.py
  backend/usecases/channel.py
  backend/usecases/web_chat.py
  backend/usecases/webhook.py
  backend/worker.py
  frontend/src/App.tsx
  frontend/src/components/ActivityLog.tsx
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/hooks/useActivityLog.ts
  frontend/src/hooks/useChannelCatalog.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/lib/types.ts
  frontend/src/lib/validation.test.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: durable conversations and scoped state
  ROADMAP.md
  backend/api/dependencies/state.py
  backend/api/routers/__init__.py
  backend/api/routers/state.py
  backend/api/routers/web_chat.py
  backend/channels/web_chat.py
  backend/db/migrations/versions/f8d1b3c5e7a9_add_conversations_and_scoped_state.py
  backend/db/models/__init__.py
  backend/db/models/conversation.py
  backend/db/models/execution.py
  backend/db/models/state_entry.py
  backend/db/repositories/__init__.py
  backend/db/repositories/conversation.py
  backend/db/repositories/state_entry.py
  backend/enums/__init__.py
  backend/enums/state.py
  backend/exceptions/__init__.py
  backend/exceptions/state.py
  backend/main.py
  backend/schemas/__init__.py
  backend/schemas/state.py
  backend/schemas/web_chat.py
  backend/tests/factories/__init__.py
  backend/tests/factories/conversation.py
  backend/tests/factories/state_entry.py
  backend/tests/test_api/test_state.py
  backend/tests/test_api/test_web_chat.py
  backend/usecases/__init__.py
  backend/usecases/conversation.py
  backend/usecases/execution.py
  backend/usecases/state.py
  backend/usecases/web_chat.py
  frontend/src/lib/types.ts
  frontend/src/widget/WidgetApp.test.tsx
  frontend/src/widget/WidgetApp.tsx
  frontend/src/widget/api.test.ts
  frontend/src/widget/api.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: unified connections and oauth foundation
  ROADMAP.md
  backend/api/dependencies/connection.py
  backend/api/routers/__init__.py
  backend/api/routers/connection.py
  backend/db/migrations/versions/a9c2e4f6b8d0_add_unified_connections_and_oauth.py
  backend/db/models/__init__.py
  backend/db/models/connection.py
  backend/db/repositories/__init__.py
  backend/db/repositories/connection.py
  backend/enums/__init__.py
  backend/enums/connection.py
  backend/exceptions/__init__.py
  backend/exceptions/connection.py
  backend/main.py
  backend/schemas/__init__.py
  backend/schemas/connection.py
  backend/tests/factories/__init__.py
  backend/tests/factories/connection.py
  backend/tests/test_api/test_connection.py
  backend/usecases/__init__.py
  backend/usecases/connection.py
  frontend/src/components/ConnectionSettings.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/hooks/useConnections.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: tenant-safe knowledge sources
  ROADMAP.md
  backend/api/routers/vector.py
  backend/db/migrations/versions/b0d3f5a7c9e1_add_tenant_knowledge_sources.py
  backend/db/models/__init__.py
  backend/db/models/knowledge_collection.py
  backend/db/models/knowledge_source.py
  backend/db/repositories/__init__.py
  backend/db/repositories/knowledge_collection.py
  backend/db/repositories/knowledge_source.py
  backend/nodes/vector_ingest.py
  backend/nodes/vector_search.py
  backend/rag/ingest.py
  backend/rag/qdrant.py
  backend/schemas/__init__.py
  backend/schemas/vector.py
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  backend/tests/factories/knowledge_collection.py
  backend/tests/factories/knowledge_source.py
  backend/tests/fakes.py
  backend/tests/test_api/test_vector.py
  backend/tests/test_nodes_registry.py
  backend/tests/test_worker_ingest.py
  backend/usecases/vector.py
  backend/worker.py
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/VectorCollectionSettings.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

refactor: remove old code
  ROADMAP.md
  backend/AGENTS.md
  backend/alembic.ini
  backend/db/migrations/versions/4973fcb4d537_baseline.py
  backend/db/models/execution.py
  backend/db/models/workflow_version.py
  backend/nodes/code_transform.py
  backend/nodes/definition.py
  backend/templates/text_compactor.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_node.py
  backend/tests/test_nodes_registry.py
  backend/usecases/execution.py
  frontend/AGENTS.md
  frontend/src/lib/ports.test.ts
  frontend/src/lib/ports.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add mailpit
  .env.example
  README.md
  docker-compose.yml
Due: none

refactor: update templates
  backend/enums/__init__.py
  backend/enums/template.py
  backend/schemas/workflow.py
  backend/templates/api_watcher.py
  backend/templates/approval_gate.py
  backend/templates/batch_summarizer.py
  backend/templates/daily_digest.py
  backend/templates/definition.py
  backend/templates/document_ingest.py
  backend/templates/email_auto_responder.py
  backend/templates/embeddable_web_chat.py
  backend/templates/quick_translate.py
  backend/templates/rag_chatbot.py
  backend/templates/registry.py
  backend/templates/simple_chatbot.py
  backend/templates/support_ticket_router.py
  backend/templates/telegram_echo_bot.py
  backend/templates/text_compactor.py
  backend/templates/weather_bot.py
  backend/templates/webhook_telegram_alert.py
  backend/tests/test_api/test_workflow_template.py
  backend/usecases/workflow_transfer.py
  frontend/src/App.tsx
  frontend/src/components/AppShell.test.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/NewFromTemplateDialog.test.tsx
  frontend/src/components/NewFromTemplateDialog.tsx
  frontend/src/components/SettingsPage.test.tsx
  frontend/src/components/SettingsPage.tsx
  frontend/src/components/TemplateSetupPanel.test.tsx
  frontend/src/components/TemplateSetupPanel.tsx
  frontend/src/hooks/useWorkflowTransfer.ts
  frontend/src/lib/settingsSections.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$
