Repository musashimiyomoto/graph-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: eslint
        name: eslint
        entry: npx eslint
        require_serial: true
        language: node
        additional_dependencies: []
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc -b'
        require_serial: true
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false

build: update dep
  .dockerignore
  .env.example
  .gitignore
  backend/.dockerignore
  backend/.gitignore
  backend/pyproject.toml
  backend/settings/prefect.py
  backend/uv.lock
  frontend/.dockerignore
  frontend/.gitignore
  frontend/dist/assets/index-DQ670I5i.css
  frontend/dist/assets/index-Kp9PwLn9.js
  frontend/dist/index.html
  frontend/dist/vite.svg
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add front
  frontend/.gitignore
  frontend/dist/assets/index-DQ670I5i.css
  frontend/dist/assets/index-Kp9PwLn9.js
  frontend/dist/index.html
  frontend/dist/vite.svg
  frontend/index.html
  frontend/public/favicon.svg
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/AppShell.tsx
  frontend/src/components/AuthScreen.tsx
  frontend/src/components/CustomNodes.tsx
  frontend/src/components/ExecutionList.tsx
  frontend/src/components/GraphCanvas.tsx
  frontend/src/components/InspectorPanel.tsx
  frontend/src/components/NodeContextMenu.tsx
  frontend/src/components/NodeIcons.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/index.css
  frontend/src/lib/api.ts
Due: eslint, tsc

chore: move pre-commit out of Python dev deps, add make start target
  .pre-commit-config.yaml
  Makefile
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(node): add node data validation with field specs
  backend/enums/__init__.py
  backend/enums/node.py
  backend/enums/validator.py
  backend/exceptions/__init__.py
  backend/exceptions/node.py
  backend/tests/factories/node.py
  backend/tests/test_api/test_node.py
  backend/usecases/node.py
Due: ruff-check, ruff-format

docs: update docs
  README.md
Due: none

fix: run ruff check/format from backend dir in Makefile
  .pre-commit-config.yaml
  Makefile
  backend/enums/node.py
Due: ruff-check, ruff-format

chore: unify Makefile naming and update README
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  README.md
Due: none

ci: use Makefile targets in GitHub Actions workflows
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  README.md
Due: none

build: remove format check
  .github/workflows/backend.yml
Due: none

feat: add /nodes/fields endpoint
  backend/routers/node.py
  backend/schemas/__init__.py
  backend/schemas/node.py
  backend/tests/test_api/test_node.py
  backend/usecases/node.py
Due: ruff-check, ruff-format

test: add node params
  backend/tests/test_api/test_node.py
Due: ruff-check, ruff-format

refactor: update front
  frontend/src/App.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/ExecutionHistory.tsx
  frontend/src/components/InspectorPanel.tsx
  frontend/src/components/ProviderManager.tsx
  frontend/src/components/RunInputModal.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: eslint, tsc

feat: add list_provider_models
  backend/exceptions/__init__.py
  backend/exceptions/llm_provider.py
  backend/routers/llm_provider.py
  backend/schemas/__init__.py
  backend/schemas/llm_provider.py
  backend/usecases/llm_provider.py
Due: ruff-check, ruff-format

Refactor LLM providers and nodes
  backend/enums/node.py
  backend/exceptions/__init__.py
  backend/exceptions/llm_provider.py
  backend/llm/__init__.py
  backend/llm/base.py
  backend/llm/factory.py
  backend/llm/ollama.py
  backend/migrations/versions/b3e7aa4c2a1d_llm_provider_config.py
  backend/models/llm_provider.py
  backend/routers/llm_provider.py
  backend/schemas/__init__.py
  backend/schemas/llm_provider.py
  backend/settings/__init__.py
  backend/settings/llm.py
  backend/tests/factories/llm_provider.py
  backend/tests/test_api/test_llm_provider.py
  backend/tests/test_api/test_node.py
  backend/tests/test_llm_client.py
  backend/usecases/llm_provider.py
  backend/usecases/node.py
Due: ruff-check, ruff-format

fix: add missing docstrings and lint fixes
  backend/constants/__init__.py
  backend/constants/timeout.py
  backend/llm/__init__.py
  backend/llm/ollama.py
  backend/llms/__init__.py
  backend/llms/base.py
  backend/llms/ollama.py
  backend/migrations/versions/b3e7aa4c2a1d_llm_provider_config.py
  backend/migrations/versions/b608d77ba6c0_init.py
  backend/models/llm_provider.py
  backend/routers/llm_provider.py
  backend/schemas/__init__.py
  backend/schemas/llm_provider.py
  backend/settings/__init__.py
  backend/settings/llm.py
  backend/tests/test_llm_client.py
  backend/usecases/llm_provider.py
Due: ruff-check, ruff-format

refactor: remove unused code from LLM provider
  backend/schemas/llm_provider.py
  backend/tests/factories/llm_provider.py
  backend/tests/test_api/test_llm_provider.py
  backend/usecases/llm_provider.py
  frontend/src/components/ProviderManager.tsx
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

refactor node catalog UI and move ollama model bootstrap to shared entrypoint
  backend/entrypoint.sh
  backend/enums/__init__.py
  backend/enums/node.py
  backend/exceptions/llm_provider.py
  backend/node_catalog/__init__.py
  backend/node_catalog/registry.py
  backend/node_catalog/schemas.py
  backend/routers/node.py
  backend/schemas/__init__.py
  backend/schemas/node.py
  backend/tests/test_api/test_llm_provider.py
  backend/tests/test_api/test_node.py
  backend/usecases/llm_provider.py
  backend/usecases/node.py
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/CreateNodeDialog.tsx
  frontend/src/components/CustomNodes.tsx
  frontend/src/components/GraphCanvas.tsx
  frontend/src/components/NodeIcons.tsx
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/hooks/useAuthSession.ts
  frontend/src/hooks/useExecutions.ts
  frontend/src/hooks/useGraphState.ts
  frontend/src/hooks/useNodeCatalog.ts
  frontend/src/hooks/useWorkflowState.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

refactor backend schemas/integrations and simplify node catalog defaults
  backend/constants/__init__.py
  backend/constants/node.py
  backend/integrations/__init__.py
  backend/integrations/llm.py
  backend/llms/__init__.py
  backend/llms/base.py
  backend/node_catalog/__init__.py
  backend/node_catalog/registry.py
  backend/node_catalog/schemas.py
  backend/routers/llm_provider.py
  backend/schemas/__init__.py
  backend/schemas/llm_provider.py
  backend/schemas/node.py
  backend/tests/test_api/test_llm_provider.py
  backend/tests/test_api/test_node.py
  backend/usecases/llm_provider.py
  backend/usecases/node.py
  frontend/src/hooks/useGraphState.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

Refactor execution dispatch and Prefect flow integration
  backend/constants/__init__.py
  backend/constants/prefect.py
  backend/exceptions/__init__.py
  backend/exceptions/execution.py
  backend/flows/__init__.py
  backend/flows/prefect_execution_flow.py
  backend/integrations/__init__.py
  backend/integrations/prefect_runner.py
  backend/migrations/versions/f6ef43be6f21_add_prefect_flow_run_id_to_execution.py
  backend/models/execution.py
  backend/schemas/execution.py
  backend/tests/factories/execution.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_prefect_execution.py
  backend/usecases/execution.py
  frontend/src/App.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/RunInputModal.tsx
  frontend/src/hooks/useExecutions.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

docs: split AGENTS instructions for backend and frontend
  AGENTS.md
  backend/AGENTS.md
  frontend/AGENTS.md
Due: none

Remove llm provider chat endpoint and clean related code
  backend/routers/llm_provider.py
  backend/schemas/__init__.py
  backend/schemas/llm_provider.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_prefect_execution.py
  backend/usecases/llm_provider.py
Due: ruff-check, ruff-format

refactor: minor refactor
  backend/constants/__init__.py
  backend/constants/node.py
  backend/enums/__init__.py
  backend/flows/__init__.py
  backend/flows/prefect_execution_flow.py
  backend/integrations/__init__.py
  backend/integrations/llm.py
  backend/integrations/prefect.py
  backend/usecases/auth.py
  backend/usecases/execution.py
  backend/usecases/llm_provider.py
  backend/usecases/node.py
Due: ruff-check, ruff-format

refactor: clean up execution logic, tests and improve frontend UI
  backend/constants/timeout.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_node.py
  backend/tests/test_prefect_execution.py
  backend/usecases/execution.py
  backend/usecases/node.py
  frontend/Dockerfile
  frontend/src/App.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/CreateNodeDialog.tsx
  frontend/src/components/ExecutionHistory.tsx
  frontend/src/components/ExecutionList.tsx
  frontend/src/components/InspectorPanel.tsx
  frontend/src/components/ProviderManager.tsx
  frontend/src/hooks/useGraphState.ts
  frontend/src/index.css
Due: ruff-check, ruff-format, eslint, tsc

refactor: extract LLM provider hooks and update schemas
  backend/AGENTS.md
  backend/schemas/__init__.py
  backend/schemas/execution.py
  backend/schemas/llm_provider.py
  backend/tests/test_api/test_execution.py
  frontend/src/components/CreateNodeDialog.tsx
  frontend/src/components/GraphCanvas.tsx
  frontend/src/components/ProviderManager.tsx
  frontend/src/hooks/useGraphState.ts
  frontend/src/hooks/useLlmProviders.ts
  frontend/src/hooks/useProviderModels.ts
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

Fix LLM provider base_url serialization
  backend/routers/llm_provider.py
Due: ruff-check, ruff-format

refactor(backend): remove Redis from stack and health checks
  .env.example
  README.md
  backend/pyproject.toml
  backend/settings/__init__.py
  backend/settings/redis.py
  backend/usecases/health.py
  backend/utils/redis.py
  backend/uv.lock
  docker-compose.yml
Due: ruff-check, ruff-format

feat(backend): add default Ollama provider on registration
  backend/tests/test_api/test_auth.py
  backend/usecases/auth.py
Due: ruff-check, ruff-format

refactor(backend): minor refactor
  backend/ai/factory.py
  backend/ai/llm/base.py
  backend/ai/llm/ollama.py
  backend/api/routers/auth.py
  backend/api/routers/edge.py
  backend/api/routers/execution.py
  backend/api/routers/llm_provider.py
  backend/api/routers/node.py
  backend/api/routers/workflow.py
  backend/schemas/__init__.py
  backend/schemas/auth.py
  backend/schemas/execution.py
  backend/schemas/llm_provider.py
  backend/tests/test_api/test_auth.py
  backend/usecases/auth.py
  backend/usecases/edge.py
  backend/usecases/execution.py
  backend/usecases/llm_provider.py
  backend/usecases/node.py
  backend/usecases/workflow.py
Due: ruff-check, ruff-format

refactor(backend): remove LLM client factory
  backend/ai/__init__.py
  backend/ai/factory.py
  backend/usecases/execution.py
  backend/usecases/llm_provider.py
Due: ruff-check, ruff-format

refactor(backend): ExecutionUsecase
  backend/ai/llm/__init__.py
  backend/llm/__init__.py
  backend/llm/base.py
  backend/llm/ollama.py
  backend/nodes/__init__.py
  backend/nodes/base.py
  backend/nodes/input.py
  backend/nodes/llm.py
  backend/nodes/output.py
  backend/nodes/registry.py
  backend/usecases/execution.py
  backend/usecases/llm_provider.py
Due: ruff-check, ruff-format

feat(fullstack): add web search node support
  backend/AGENTS.md
  backend/constants/timeout.py
  backend/db/migrations/versions/7f6f03f7f3a3_add_web_search_node_type.py
  backend/enums/node.py
  backend/exceptions/__init__.py
  backend/exceptions/node.py
  backend/nodes/__init__.py
  backend/nodes/catalog.py
  backend/nodes/registry.py
  backend/nodes/web_search.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_node.py
  backend/usecases/node.py
  frontend/src/components/NodeIcons.tsx
Due: ruff-check, ruff-format, eslint, tsc

feat: implement typed ports and edge compatibility validation in node graph
  ROADMAP.md
  backend/tests/test_api/test_edge.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_nodes_registry.py
  frontend/src/components/GraphCanvas.tsx
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add HTTP request and template node types with handlers and icons
  ROADMAP.md
  backend/db/migrations/versions/c7d2f1a9b3e4_add_template_and_http_request_node_types.py
  backend/enums/__init__.py
  backend/enums/node.py
  backend/exceptions/__init__.py
  backend/exceptions/node.py
  backend/nodes/__init__.py
  backend/nodes/http_request.py
  backend/nodes/registry.py
  backend/nodes/template.py
  backend/tests/test_api/test_node.py
  backend/tests/test_nodes_registry.py
  frontend/src/components/NodeIcons.tsx
Due: ruff-check, ruff-format, eslint, tsc

feat: enhance HTTP request handling with support for additional methods, headers, and body rendering
  backend/enums/node.py
  backend/nodes/http_request.py
  backend/nodes/rendering.py
  backend/nodes/template.py
  backend/tests/test_nodes_registry.py
Due: ruff-check, ruff-format

feat: enhance database models with indexing for performance
  DEEPENING.md
  backend/api/dependencies/pagination.py
  backend/api/routers/execution.py
  backend/constants/__init__.py
  backend/constants/execution.py
  backend/db/migrations/versions/d3e5a7c1f9b2_index_foreign_keys.py
  backend/db/models/edge.py
  backend/db/models/execution.py
  backend/db/models/llm_provider.py
  backend/db/models/node.py
  backend/db/models/node_execution.py
  backend/db/models/workflow.py
  backend/db/repositories/base.py
  backend/db/repositories/execution.py
  backend/exceptions/__init__.py
  backend/exceptions/network.py
  backend/nodes/http_request.py
  backend/nodes/llm.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_network.py
  backend/tests/test_nodes_registry.py
  backend/usecases/execution.py
  backend/usecases/llm_provider.py
  backend/utils/network.py
  frontend/src/components/CreateNodeDialog.tsx
  frontend/src/components/InspectorPanel.tsx
  frontend/src/components/NumberInput.tsx
  frontend/src/hooks/useGraphState.ts
  frontend/src/lib/validation.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: implement secure-by-default secret handling and enhance execution stream management
  DEEPENING.md
  backend/constants/execution.py
  backend/settings/auth.py
  backend/settings/encryption.py
  backend/settings/environment.py
  backend/tests/test_encryption.py
  backend/usecases/execution.py
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/hooks/useExecutions.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: implement workflow versioning with snapshot management and API integration
  DEEPENING.md
  ROADMAP.md
  backend/api/routers/workflow.py
  backend/db/migrations/versions/e4f1a9c2b7d8_add_workflow_versions.py
  backend/db/models/__init__.py
  backend/db/models/execution.py
  backend/db/models/workflow_version.py
  backend/db/repositories/__init__.py
  backend/db/repositories/workflow_version.py
  backend/exceptions/__init__.py
  backend/exceptions/workflow.py
  backend/schemas/__init__.py
  backend/schemas/execution.py
  backend/schemas/workflow_version.py
  backend/tests/test_api/test_execution.py
  backend/usecases/execution.py
  frontend/src/components/ExecutionHistory.tsx
  frontend/src/components/ExecutionList.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: enhance placeholder handling in rendering and template nodes
  ROADMAP.md
  backend/nodes/rendering.py
  backend/nodes/template.py
  backend/tests/test_nodes_registry.py
Due: ruff-check, ruff-format

feat: add vector collections management
  ROADMAP.md
  backend/api/dependencies/vector.py
  backend/api/routers/__init__.py
  backend/api/routers/vector.py
  backend/constants/__init__.py
  backend/constants/rag.py
  backend/exceptions/__init__.py
  backend/exceptions/rag.py
  backend/main.py
  backend/nodes/vector_ingest.py
  backend/pyproject.toml
  backend/rag/documents.py
  backend/rag/ingest.py
  backend/rag/qdrant.py
  backend/schemas/__init__.py
  backend/schemas/vector.py
  backend/tests/fakes.py
  backend/tests/test_api/test_vector.py
  backend/tests/test_nodes_registry.py
  backend/usecases/__init__.py
  backend/usecases/vector.py
  backend/uv.lock
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/VectorCollectionSettings.tsx
  frontend/src/hooks/useVectorCollections.ts
  frontend/src/hooks/useVectorDocuments.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc
