Repository musashimiyomoto/graph-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: eslint
        name: eslint
        entry: npx eslint
        require_serial: true
        language: node
        additional_dependencies: []
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc -b'
        require_serial: true
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false

feat: improve Qdrant client timeout handling in get_qdrant_client function
  backend/rag/qdrant.py
Due: ruff-check, ruff-format

feat: implement undo/redo functionality with multi-select and auto-layout in graph editor
  ROADMAP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/GraphCanvas.tsx
  frontend/src/hooks/useGraphState.ts
  frontend/src/hooks/useUndoRedo.ts
  frontend/src/lib/autoLayout.ts
Due: eslint, tsc

feat: adjust node positions to maintain graph center after layout computation
  frontend/src/lib/autoLayout.ts
Due: eslint, tsc

feat: add vector collection support in ingest and search nodes, and enhance UI components for collection management
  backend/nodes/vector_ingest.py
  backend/nodes/vector_search.py
  backend/schemas/node.py
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/components/VectorCollectionSettings.tsx
  frontend/src/hooks/useVectorCollections.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: implement background document ingestion with job tracking and status reporting
  backend/Dockerfile
  backend/api/routers/vector.py
  backend/rag/jobs.py
  backend/schemas/__init__.py
  backend/schemas/vector.py
  backend/tests/conftest.py
  backend/tests/test_api/test_vector.py
  backend/tests/test_worker_ingest.py
  backend/worker.py
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/components/VectorCollectionInput.tsx
  frontend/src/components/VectorCollectionSettings.tsx
  frontend/src/hooks/useVectorDocuments.ts
  frontend/src/hooks/useVectorUploadJobs.ts
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: implement themed combobox for collection input with dropdown menu
  frontend/src/components/VectorCollectionInput.tsx
  frontend/src/index.css
Due: eslint, tsc

feat: preserve selection flag when updating node in useGraphState
  frontend/src/hooks/useGraphState.ts
Due: eslint, tsc

feat: add step property to numeric fields for improved UI control
  backend/nodes/llm.py
  backend/nodes/output.py
  backend/nodes/vector_search.py
  backend/nodes/web_search.py
  backend/schemas/node.py
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/components/NumberInput.tsx
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: Implement Ollama model management features
  backend/api/routers/llm_provider.py
  backend/llm/ollama.py
  backend/llm/ollama_catalog.py
  backend/schemas/__init__.py
  backend/schemas/llm_provider.py
  backend/streaming/__init__.py
  backend/streaming/ollama.py
  backend/tests/test_api/test_llm_provider.py
  backend/tests/test_llm.py
  backend/tests/test_streaming.py
  backend/tests/test_worker_ollama_pull.py
  backend/usecases/llm_provider.py
  backend/worker.py
  frontend/src/components/OllamaModelPicker.tsx
  frontend/src/components/OllamaModelsPanel.tsx
  frontend/src/components/ProviderSettings.tsx
  frontend/src/hooks/useOllamaPull.ts
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add vertical tab styling to prevent height stretching in settings sidebar
  frontend/src/components/SettingsModal.tsx
  frontend/src/index.css
Due: eslint, tsc

feat: add loading states for providers, bots, and collections in settings components
  frontend/src/components/ProviderSettings.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/TelegramSettings.tsx
  frontend/src/components/VectorCollectionSettings.tsx
Due: eslint, tsc

feat: add execution source to track triggers for workflow executions
  backend/api/dependencies/execution.py
  backend/api/routers/execution.py
  backend/db/migrations/versions/b4a927e1c8d5_add_execution_source.py
  backend/db/models/execution.py
  backend/enums/__init__.py
  backend/enums/execution.py
  backend/nodes/vector_ingest.py
  backend/nodes/vector_search.py
  backend/schemas/execution.py
  backend/tests/conftest.py
  backend/tests/test_llm.py
  backend/tests/test_nodes_registry.py
  backend/tests/test_worker.py
  backend/usecases/__init__.py
  backend/usecases/execution.py
  backend/worker.py
  frontend/src/App.tsx
  frontend/src/components/ActivityLog.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/HistoryOverlay.tsx
  frontend/src/hooks/useActivityLog.ts
  frontend/src/hooks/useExecutions.ts
  frontend/src/lib/api.ts
  frontend/src/lib/executionFormat.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: refactor execution source enum handling in database migration
  backend/db/migrations/versions/b4a927e1c8d5_add_execution_source.py
Due: ruff-check, ruff-format

feat: add numeric stepper increment to NodeCatalogFieldUIResponse
  backend/schemas/node.py
Due: ruff-check, ruff-format

feat: enhance visibility checks for fields in Node use case and adjust default data handling for validators
  backend/usecases/node.py
  frontend/src/hooks/useGraphState.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: update default handling for datasource fields in buildDefaultData function
  frontend/src/hooks/useGraphState.ts
Due: eslint, tsc

feat: refactor history handling in App component and update AppShell props for better tab management
  frontend/src/App.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/HistoryOverlay.tsx
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/lib/executionFormat.ts
Due: eslint, tsc

feat: reorganize button layout in AppShell for improved UI structure
  frontend/src/components/AppShell.tsx
Due: eslint, tsc

feat: enhance HistoryOverlay with title prop and improve layout in ChatPanel and ActivityLog
  frontend/src/App.tsx
  frontend/src/components/ActivityLog.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/HistoryOverlay.tsx
Due: eslint, tsc

feat: add OpenAI and Anthropic provider types to LLM provider enum and update related components
  ROADMAP.md
  backend/db/migrations/versions/c9e4b1a7d3f6_add_openai_anthropic_provider_types.py
  backend/enums/llm_provider.py
  backend/llm/__init__.py
  backend/tests/test_llm.py
  frontend/src/components/ProviderSettings.tsx
Due: ruff-check, ruff-format, eslint, tsc

feat: integrate React Query for data fetching and state management across components
  ROADMAP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/VectorCollectionSettings.tsx
  frontend/src/hooks/useActivityLog.ts
  frontend/src/hooks/useLlmProviders.ts
  frontend/src/hooks/useNodeCatalog.ts
  frontend/src/hooks/useProviderModels.ts
  frontend/src/hooks/useTelegramBots.ts
  frontend/src/hooks/useVectorCollections.ts
  frontend/src/hooks/useVectorDocuments.ts
  frontend/src/hooks/useVectorUploadJobs.ts
  frontend/src/hooks/useWorkflowState.ts
  frontend/src/lib/queryClient.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/main.tsx
Due: eslint, tsc

feat: add workflow transfer functionality for export, import, and duplicate
  backend/api/dependencies/workflow.py
  backend/api/routers/workflow.py
  backend/schemas/__init__.py
  backend/schemas/workflow.py
  backend/tests/test_api/test_workflow_transfer.py
  backend/usecases/__init__.py
  backend/usecases/node.py
  backend/usecases/workflow_transfer.py
  frontend/src/App.tsx
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/hooks/useWorkflowTransfer.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add workflow template functionality
  ROADMAP.md
  backend/api/routers/__init__.py
  backend/api/routers/workflow_template.py
  backend/exceptions/__init__.py
  backend/exceptions/workflow.py
  backend/main.py
  backend/schemas/__init__.py
  backend/schemas/workflow.py
  backend/templates/__init__.py
  backend/templates/definition.py
  backend/templates/rag_chatbot.py
  backend/templates/registry.py
  backend/templates/simple_chatbot.py
  backend/templates/telegram_echo_bot.py
  backend/tests/test_api/test_workflow_template.py
  backend/usecases/node.py
  backend/usecases/workflow_transfer.py
  frontend/src/App.tsx
  frontend/src/components/NewFromTemplateDialog.tsx
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/hooks/useWorkflowTemplates.ts
  frontend/src/hooks/useWorkflowTransfer.ts
  frontend/src/lib/api.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: implement WorkflowActionsMenu for streamlined workflow actions
  frontend/src/components/WorkflowActionsMenu.tsx
  frontend/src/components/WorkflowSidebar.tsx
Due: eslint, tsc

fix: adjust button styling and wrap WorkflowActionsMenu in a div for better layout
  frontend/src/components/WorkflowSidebar.tsx
Due: eslint, tsc

feat: add activeWorkflowId prop to GraphCanvas and implement fitView on workflow switch
  frontend/src/App.tsx
  frontend/src/components/GraphCanvas.tsx
Due: eslint, tsc

feat: add llm usage
  backend/api/dependencies/quota.py
  backend/api/dependencies/usage.py
  backend/api/routers/execution.py
  backend/api/routers/usage.py
  backend/db/migrations/versions/d7dc4089af97_add_cost_observability_tokens_usage_.py
  backend/db/models/__init__.py
  backend/db/models/audit_log.py
  backend/db/models/execution.py
  backend/db/models/node_execution.py
  backend/db/models/usage_record.py
  backend/db/repositories/__init__.py
  backend/db/repositories/audit_log.py
  backend/db/repositories/node_execution.py
  backend/db/repositories/usage_record.py
  backend/exceptions/__init__.py
  backend/exceptions/quota.py
  backend/llm/anthropic.py
  backend/llm/base.py
  backend/llm/ollama.py
  backend/llm/openai.py
  backend/main.py
  backend/nodes/base.py
  backend/nodes/llm.py
  backend/schemas/__init__.py
  backend/schemas/execution.py
  backend/schemas/llm_provider.py
  backend/schemas/usage.py
  backend/settings/__init__.py
  backend/settings/quota.py
  backend/tests/conftest.py
  backend/tests/test_llm.py
  backend/tests/test_streaming.py
  backend/usecases/__init__.py
  backend/usecases/audit.py
  backend/usecases/execution.py
  backend/usecases/llm_provider.py
  backend/usecases/telegram_bot.py
  backend/usecases/usage.py
  backend/usecases/workflow.py
Due: ruff-check, ruff-format

feat: add prometheus and sentry
  .env.example
  ROADMAP.md
  backend/api/metrics.py
  backend/api/routers/metrics.py
  backend/main.py
  backend/observability.py
  backend/pyproject.toml
  backend/settings/__init__.py
  backend/settings/metrics.py
  backend/settings/sentry.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_usage.py
  backend/tests/test_observability.py
  backend/uv.lock
  backend/worker.py
Due: ruff-check, ruff-format

test: add front test
  .github/workflows/frontend.yml
  Makefile
  ROADMAP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Modal.test.tsx
  frontend/src/components/OutputRenderer.test.tsx
  frontend/src/hooks/useUndoRedo.test.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/autoLayout.test.ts
  frontend/src/lib/executionFormat.test.ts
  frontend/src/lib/types.test.ts
  frontend/src/lib/validation.test.ts
  frontend/src/test/setup.ts
  frontend/vite.config.ts
Due: eslint, tsc

refactor: minor refactor
  .github/workflows/frontend.yml
  README.md
  ROADMAP.md
Due: none

Update ROADMAP.md
  ROADMAP.md
Due: none

feat: add email node
  backend/api/dependencies/email_account.py
  backend/api/routers/email_account.py
  backend/db/migrations/versions/e9a1c4d7b2f6_add_email_channel.py
  backend/db/models/__init__.py
  backend/db/models/email_account.py
  backend/db/models/execution.py
  backend/db/repositories/__init__.py
  backend/db/repositories/email_account.py
  backend/enums/execution.py
  backend/enums/node.py
  backend/exceptions/__init__.py
  backend/exceptions/email.py
  backend/integrations/__init__.py
  backend/integrations/email.py
  backend/main.py
  backend/nodes/input.py
  backend/nodes/output.py
  backend/schemas/__init__.py
  backend/schemas/email_account.py
  backend/schemas/node.py
  backend/tests/factories/__init__.py
  backend/tests/factories/email_account.py
  backend/tests/test_api/test_email_account.py
  backend/tests/test_email_integration.py
  backend/tests/test_worker.py
  backend/usecases/__init__.py
  backend/usecases/email_account.py
  backend/usecases/execution.py
  backend/usecases/node.py
  backend/usecases/workflow_transfer.py
  backend/worker.py
  frontend/src/components/ActivityLog.tsx
  frontend/src/components/EmailSettings.tsx
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/hooks/useActivityLog.ts
  frontend/src/hooks/useEmailAccounts.ts
  frontend/src/lib/api.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

refactor: minor refactor
  .claude/skills/run-graph-ai/SKILL.md
  .claude/skills/run-graph-ai/driver.mjs
  .claude/skills/run-graph-ai/smoke.mjs
  .env.example
  backend/entrypoint.sh
  backend/llm/ollama_catalog.py
  docker-compose.yml
Due: ruff-check, ruff-format

feat: add email template
  backend/db/repositories/usage_record.py
  backend/templates/email_auto_responder.py
  backend/templates/registry.py
  backend/tests/test_api/test_usage.py
  backend/tests/test_api/test_workflow_template.py
Due: ruff-check, ruff-format

feat: add webhook node
  ROADMAP.md
  backend/api/dependencies/webhook.py
  backend/api/routers/webhook.py
  backend/db/migrations/versions/f0b3c6d9e2a5_add_webhook_channel.py
  backend/enums/execution.py
  backend/enums/node.py
  backend/enums/validator.py
  backend/exceptions/__init__.py
  backend/exceptions/webhook.py
  backend/integrations/__init__.py
  backend/integrations/webhook.py
  backend/main.py
  backend/nodes/output.py
  backend/schemas/workflow.py
  backend/tests/test_api/test_node.py
  backend/tests/test_api/test_webhook.py
  backend/tests/test_api/test_workflow.py
  backend/tests/test_webhook_integration.py
  backend/tests/test_worker.py
  backend/usecases/__init__.py
  backend/usecases/node.py
  backend/usecases/webhook.py
  backend/utils/webhooks.py
  backend/worker.py
  frontend/src/App.tsx
  frontend/src/components/ActivityLog.tsx
  frontend/src/components/WorkflowActionsMenu.test.tsx
  frontend/src/components/WorkflowActionsMenu.tsx
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/hooks/useActivityLog.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
  frontend/src/lib/validation.test.ts
  frontend/src/lib/validation.ts
Due: ruff-check, ruff-format, eslint, tsc

feat: add embeddable web chat
  ROADMAP.md
  backend/api/dependencies/web_chat.py
  backend/api/routers/web_chat.py
  backend/db/migrations/versions/a1c4e7f0b3d6_add_web_chat_channel.py
  backend/enums/execution.py
  backend/enums/node.py
  backend/exceptions/__init__.py
  backend/exceptions/web_chat.py
  backend/main.py
  backend/schemas/__init__.py
  backend/schemas/web_chat.py
  backend/schemas/workflow.py
  backend/templates/embeddable_web_chat.py
  backend/templates/registry.py
  backend/tests/test_api/test_web_chat.py
  backend/tests/test_api/test_workflow.py
  backend/tests/test_api/test_workflow_template.py
  backend/usecases/__init__.py
  backend/usecases/web_chat.py
  backend/utils/public_tokens.py
  backend/utils/web_chat.py
  backend/utils/webhooks.py
  frontend/public/graph-ai-chat.js
  frontend/src/App.tsx
  frontend/src/components/WorkflowActionsMenu.test.tsx
  frontend/src/components/WorkflowActionsMenu.tsx
  frontend/src/components/WorkflowSidebar.tsx
  frontend/src/hooks/useActivityLog.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
  frontend/src/widget/WidgetApp.test.tsx
  frontend/src/widget/WidgetApp.tsx
  frontend/src/widget/api.test.ts
  frontend/src/widget/api.ts
  frontend/src/widget/main.tsx
  frontend/src/widget/widget.css
  frontend/vite.config.ts
  frontend/widget.html
Due: ruff-check, ruff-format, eslint, tsc

feat: add table type
  ROADMAP.md
  backend/api/dependencies/postgres_connection.py
  backend/api/routers/__init__.py
  backend/api/routers/postgres_connection.py
  backend/db/migrations/versions/d2f5a8c1e4b7_add_table_node_and_postgres_connections.py
  backend/db/models/__init__.py
  backend/db/models/postgres_connection.py
  backend/db/repositories/__init__.py
  backend/db/repositories/postgres_connection.py
  backend/enums/__init__.py
  backend/enums/node.py
  backend/exceptions/__init__.py
  backend/exceptions/node.py
  backend/exceptions/postgres_connection.py
  backend/main.py
  backend/nodes/__init__.py
  backend/nodes/definition.py
  backend/nodes/registry.py
  backend/nodes/table.py
  backend/schemas/__init__.py
  backend/schemas/node.py
  backend/schemas/postgres_connection.py
  backend/tests/test_api/test_node.py
  backend/tests/test_api/test_postgres_connection.py
  backend/tests/test_table_node.py
  backend/usecases/__init__.py
  backend/usecases/execution.py
  backend/usecases/node.py
  backend/usecases/postgres_connection.py
  backend/usecases/workflow_transfer.py
  backend/utils/network.py
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/components/NodeIcons.tsx
  frontend/src/components/NodePalette.tsx
  frontend/src/components/PostgresConnectionSettings.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/hooks/usePostgresConnections.ts
  frontend/src/lib/api.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

chore: add sub worflow
  ROADMAP.md
  backend/constants/__init__.py
  backend/constants/execution.py
  backend/db/migrations/versions/e3a6b9c2d5f8_add_call_workflow_node.py
  backend/enums/node.py
  backend/nodes/__init__.py
  backend/nodes/call_workflow.py
  backend/nodes/registry.py
  backend/schemas/node.py
  backend/tests/test_api/test_node.py
  backend/usecases/execution.py
  backend/usecases/node.py
  backend/usecases/workflow_transfer.py
  frontend/src/App.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/CustomNodes.tsx
  frontend/src/components/GraphCanvas.tsx
  frontend/src/components/LoopBodyModal.tsx
  frontend/src/components/NodeFieldsForm.tsx
  frontend/src/components/NodeIcons.tsx
  frontend/src/components/NodePalette.tsx
  frontend/src/hooks/useWorkflowOptions.ts
  frontend/src/lib/types.ts
Due: ruff-check, ruff-format, eslint, tsc

test: add new tests
  backend/nodes/__init__.py
  backend/tests/test_api/test_execution.py
  backend/tests/test_api/test_node.py
Due: ruff-check, ruff-format
